{% extends 'baseLogin.html' %}
{% block content %}
<h1 class="text-center">Iniciar sesión</h1>
<form style="max-width: 500px;" method="post" class="m-auto p-4 card card-body bg-dark text-white border border-body-tertiary rounded-3 shadow-sm">
    {% csrf_token %}
    <div class="mb-3">
        <label for="username" class="form-label">Nombre de usuario</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Contraseña</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="">
      </div>
    <button type="submit" class="btn btn-secondary">Login</button>
    <p class="text-center pt-5">¿No tienes cuenta? <a href="{% url 'singUp' %}">Regístrate</a></p>
</form>

{% endblock %}